
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap'); */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --text-color: #434455;
    --background-color: #fff;
    --logo-accent-color: #4D5AE5;
    --memu-color: #2e2f42;
    --link-hover-color: #404BBF;
    --contact-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background: var(--background-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.link:hover, .link:focus {
    color: var(--link-hover-color);
}

.logo {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--logo-accent-color);
}

.logo-black {
    color: var(--text-color);
}

.menu {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: var(--menu-color);
}

.contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* SLATE */

    color: var(--contact-color);
}