
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap'); */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --text-color: #434455;
    --background-color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--background-color);
}

.link {
    list-style: none;
    text-decoration: none;
}

.navigation:hover {
    color: #404BBF;
}